body{
    background-color:;
}
header{
    background-color: white;
}
#left{
    margin-left: 100px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 50px;
    padding-left: 50px;
}
#right{
    margin-right: 100px;
    width: 90%;
    height: 40%px;
}
.part1{
   margin-top: 120px;
   margin-bottom: 80px;
}
.part2{
    margin-top: 120px;
   margin-bottom: 80px;
}



  